@{
    ViewBag.Title = "Managers";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model IEnumerable<SalesStatistics.Models.Sale>
@using GridMvc.Html

<div id="grid">
    <h2>Sales</h2>
    @if (User.IsInRole("Admin"))
    {
        <div id="btn-group" class="btn-group">
            <button type="button" class="btn btn-default" id="addForm">
                <span class="glyphicon glyphicon-plus"></span> Add sale
            </button>
        </div>
    }

    <hr />
    @Html.Partial("SalesGrid", Model)
</div>

<div id="divAdd">
</div>

<div id="divEdit">
</div>


<script type="text/javascript">
    $(function () {
        $("#addForm").click(function () {
            $("#divAdd").show();
            $("#grid").hide();
            $.ajax({
                url: '@Url.Action("AddSale")',
                type: 'GET',
                dataType: 'html',
                success: function (result) { $('#divAdd').html(result); }
            });
        });
    });
</script>