@{
    ViewBag.Title = "Graphics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Graphics</h2>

<script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/highcharts-3d.js"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/modules/exporting.js"></script>

<div id="container1" style="height: 400px"></div>
<br/>
<br/>
<div id="container2" style="height: 400px"></div>

<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Graphics/GetDataForProductsGraphic",
            data: "{}",
            dataType: "json",
            success: function (Result) {
                DreawProductsChart(Result);
                console.log(Result);
            },
            error: function (Result) {
                alert("Error");
            }
        });

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Graphics/GetDataForManagersGraphic",
            data: "{}",
            dataType: "json",
            success: function (Result) {
                DreawManagersChart(Result);
                console.log(Result);
            },
            error: function (Result) {
                alert("Error");
            }
        });
       
    });

    function DreawManagersChart(data) {
        $(function () {
            $('#container1').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Managers'
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'The percent of sold products'
                    }

                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.1f}%'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                },

                series: data
            });
        });
    }

    function DreawProductsChart(data) {

        $(function () {
            $('#container2').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Sold products'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: data
            });
        });
    }
</script>