@{
    ViewBag.Title = "Graphics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Graphics</h2>

<script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/highcharts-3d.js"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/modules/exporting.js"></script>

<div id="container" style="height: 400px"></div>


<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Graphics/GetDataForProductsGraphic",
            data: "{}",
            dataType: "json",
            success: function (Result) {
                DreawProductsChart(Result);
            },
            error: function (Result) {
                alert("Error");
            }
        });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Graphics/GetDataForManagersGraphic",
            data: "{}",
            dataType: "json",
            success: function (Result) {
                DreawProductsChart(Result);
            },
            error: function (Result) {
                alert("Error");
            }
        });
    });
    function DreawManagersChart(data) {

        $(function () {
            $('#container').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Stacked bar chart'
                },
                xAxis: {
                    categories: ['Amount']
                    
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Products'
                    }
                },
                legend: {
                    reversed: true
                },
                plotOptions: {
                    series: {
                        stacking: 'normal'
                    }
                },
                series: data
            });
        });
    }


    function DreawProductsChart(data) {

        $(function () {
            $('#container').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Amount of saled products'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: data
            });
        });
    }
</script>