@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model IEnumerable<SalesStatistics.Models.ApplicationUser>
@using GridMvc.Html

<div id="grid">
    <h2>Users</h2>

    <div id="btn-group" class="btn-group">
        <button type="button" class="btn btn-default" id="addForm">
            <span class="glyphicon glyphicon-plus"></span> Add user
        </button>
    </div>

    <hr />
    @Html.Partial("UsersGrid", Model)
</div>

<div id="divAdd">
</div>

<div id="divEdit">
</div>


<script type="text/javascript">

    $(function () {
        $("#addForm").click(function () {
            $("#divAdd").show();
            $("#grid").hide();
            $.ajax({
                url: '@Url.Action("AddUser")',
                type: 'GET',
                dataType: 'html',
                success: function (result) { $('#divAdd').html(result); }
            });
        });
    });
</script>