@model SalesStatistics.Models.Client
<div class="panel panel-default">
    <div class="panel-heading">Add client</div>
    <div class="panel-body">
        @using (Html.BeginForm("AddClient", "Clients"))
        {
            <div class="form-group">
                <label>First name:</label>
                @Html.EditorFor(model => model.FirstName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Last name:</label>
                @Html.EditorFor(model => model.LastName, new { @class = "form-control" })
            </div>
            <input type="submit" value="Add">
        }
        <button id="cancel">Cancel</button>
    </div>
</div>

<script>
    $("#cancel").click(function () {
        $("#divAddClient").hide();
        $("#btn-group").show();
        $("#grid").show();
    });
</script>


