@{
    ViewBag.Title = "Managers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@model IEnumerable<SalesStatistics.Models.Client>
@using GridMvc.Html

<h2>Clients</h2>

<div id="btn-group" class="btn-group">
    <button type="button" class="btn btn-default" id="addClientForm">
        <span class="glyphicon glyphicon-plus"></span> Add client
    </button>
</div>

<hr />

<div id="grid">
    @Html.Partial("ClientsGrid", Model)
</div>

<div id="divAddClient">
</div>

<div id="divEditClient">
</div>


<script type="text/javascript">

    $(function () {

        $("#addClientForm").click(function () {
            $("#divAddClient").show();
            $("#btn-group").hide();
            $("#grid").hide();
            console.log("smth happend");
            $.ajax({
                url: '@Url.Action("AddClient")',
                type: 'GET',
                dataType: 'html',
                success: function (result) { AddClient(result); }
            });
        });
        
        function AddClient(result) {
            $('#divAddClient').html(result);
        }
    });
</script>