@using GridMvc.Html
@using GridMvc.Sorting
@model IEnumerable<SalesStatistics.Models.Client>


    @Html.Grid(Model).Named("grid").Columns(columns =>
    {
        columns.Add(c => c.FirstName).Titled("First name").Filterable(true);
        columns.Add(c => c.LastName).Titled("Last name").Filterable(true);
        if (User.IsInRole("Admin"))
        {
            columns.Add()
                          .Titled("Actions")
                          .Encoded(false)
                          .Sanitized(false)
                          .SetWidth(100)
                         .RenderValueAs(o => CustomRenderingOfColumn(o));
        }

    }).Sortable(true).WithPaging(8)

@helper CustomRenderingOfColumn(SalesStatistics.Models.Client order)
{
    <a href="#" type="button" onclick="edit(@order.Id)">Edit</a>
    @Html.ActionLink("Remove", "RemoveClient", "Clients", new { id = order.Id }, null)
}

<script type="text/javascript">

    function edit(id) {
        var url = "/Clients/EditClient";
        $.get(url, {id:id}, function (data) {
            $("#divEdit").html(data);
            $("#divEdit").show();
            $("#divAdd").hide();
            $("#grid").hide();
        });
    }
</script>