@model SalesStatistics.Models.Product
<div class="panel panel-default">
    <div class="panel-heading">Add product</div>
    <div class="panel-body">
        @using (Html.BeginForm("AddProduct", "Products"))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label>Name:</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <input class="btn btn-default" type="submit" value="Add">
        }
        <br />
        <button class="btn btn-default" id="cancel">Cancel</button>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    $("#cancel").click(function () {
        $("#divAdd").hide();
        $("#grid").show();
    });
</script>


