@model SalesStatistics.Models.Product
<br/>
<div class="panel panel-default">
    <div class="panel-heading">Edit product</div>
    <div class="panel-body">
        @using (Html.BeginForm("EditProduct", "Products"))
        {
            <div class="form-group">
                @Html.HiddenFor(model => model.Id)
            </div>
            <div class="form-group">
                <label>Product:</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            </div>
            <input class="btn btn-default" type="submit" value="Edit">
        }
        <br />
        <button class="btn btn-default" id="cancel">Cancel</button>
    </div>
</div>

<script>
    $("#cancel").click(function () {
        $("#divEditProduct").hide();
        $("#btn-group").show();
        $("#grid").show();
    });
</script>
