@using GridMvc.Html
@using GridMvc.Sorting
@model IEnumerable<SalesStatistics.Models.Product>

@Html.Grid(Model).Named("grid").Columns(columns =>
    {
        columns.Add(c => c.Name).Titled("Name").Filterable(true);
        if (User.IsInRole("Admin"))
        {
            columns.Add()
                           .Encoded(false)
                           .Sanitized(false)
                           .SetWidth(100)
                           .Titled("Actions")
                           .Sortable(false)
                           .RenderValueAs(o => ActionsColumn(o));
        }
    }).Sortable(true).WithPaging(8)

@helper ActionsColumn(SalesStatistics.Models.Product item)
{
    <a href="#" type="button" onclick="edit(@item.Id)">Edit</a>
    @Html.ActionLink("Remove", "RemoveProduct", "Products", new { id = item.Id }, null)
}

<script type="text/javascript">
    function edit(id) {
        var url = "/Products/EditProduct";
        $.get(url, {id:id}, function (data) {
            $("#divEdit").html(data);
            $("#divEdit").show();
            $("#divAdd").hide();
            $("#grid").hide();
        });
    }
</script>